{:kotoba.app/id "cloud.itonami.isic-7830", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibdj43dlisyf6g5drnjbgoconxcd7gosxvd77pieoj7ywykz2oop4", :kotoba.app/embed-url "ipfs://bafkreibdj43dlisyf6g5drnjbgoconxcd7gosxvd77pieoj7ywykz2oop4", :published {:archive "https://kotobase.net/ipfs/bafkreibdj43dlisyf6g5drnjbgoconxcd7gosxvd77pieoj7ywykz2oop4", :size 73091, :put-status 201, :get-status 200, :at "2026-08-15T13:36:40.304Z"}}
